<nav>
  <div class="nav-wrapper">
    <a routerLink="" class="brand-logo"><img src="https://www.gravatar.com/avatar/HASH" alt="Description"/>Tekdi Techonologies</a>
  </div>
  
</nav>
<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a routerLink="" routerLinkActive="active">Modify Url</a></li>
        <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
          <li><a routerLink="/users/new" routerLinkActive="active">Add User</a></li>
    </ul>
  </div>
</nav>
